h1 {
    margin-left: 32%;
    width: 100%;
}

h2 {
    
    margin-left: 42%;
    width: 100%;
    font-size: 300%;
}

a {
    margin-bottom: 3%;
    margin-left: 48%;
    width: 100%;
    font-size: 225%;
    font-family: serif;
}
